body{
    margin: 0;
    padding: 0;
    background: darkgray;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
}

img{
    width: 200px;
    position: fixed;
}

.container{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 7px solid darkgrey;
    padding: 15px;
    border-radius: 25px;
}

span{
    font-size: 100px;
}

